

h2, p:not(:last-child){
    margin-bottom: 2.4rem;
}

h1 { font: 700 2.0rem/1.2 "Roboto";}
h2 { font: 700 1.3rem/1.2 "Roboto"; }
h3 { font: 300 1.0rem/1.2 "Roboto"; }
h4 { font: 700 2.0rem/1.2 "Roboto"; }
div.a { font: 300 1.0rem/1.5 "Roboto";font-style: italic;}

@media (max-width: 8.5in) {:root { font-size: 18px;}}
@media (max-width: 5.0in) {:root {font-size: 18px;}}